.footer {
  padding: 50px 0;
  background-color: $color-dark;
  text-align: center;

  &__heading {
    color: $color-white;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
  }
  &__icon {
    text-align: center;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__link {
    margin: 0 10px;
  }
  &__hcmus {
    text-align: center;
    margin-top: 20px;
    img {
      width: 80px;
    }
  }
  &__message {
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
    color: $color-light-yellow;
    text-transform: uppercase;
  }
}
