.section {
  padding-top: 70px;

  &__heading {
    text-align: center;
    h1 {
      color: white;
      text-align: center;
      font-size: 4rem;
    }
    span {
      font-size: 2.2rem;
      color: $color-grey-light-3;
      font-weight: 300;
    }
  }
  &__content {
    margin-top: 30px;
  }
}
